body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial;
}

a,
button {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a.no-transition,
button.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.container,
.container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p.lead {
    font-size: 2.8em;
    line-height: 1.35em;
    font-weight: 400;
}

p {
    font-size: 1.6em;
    line-height: 1.5em;
}

@media screen and (max-width: 767px){
    body {
        font-size: 8px;
    }
}


/*------------------------------------------------------------------------------
    :: Navigation
------------------------------------------------------------------------------*/

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #333;
    border-bottom: 5px solid #595959;
}
.navbar .navbar-brand {
    padding: 1.1em 0;
    height: auto;
}
.navbar .navbar-brand img {
    float: left;
    width: 75px;
}
.navbar .navbar-brand span {
    color: white;
    margin: 22px 0 0 95px;
    display: block;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.2em;
}

.navbar .download {
    float: right;
}

.navbar .download a {
    font-size: 1.4em;
    font-weight: 700;
    color: #E6E6E6;
    padding: 3.3em 0 0;
    display: block;
}
.navbar .download a .glyphicon {
    position: relative;
    top: 4px;
    left: -1px;
    font-size: 1.3em;
}
.navbar .download a:hover,
.navbar .download a:focus {
    text-decoration: none;
    color: #3DB8FF;
}

.navbar .social {
    float: right;
    padding: 3.3em 0 0 2.2em;
    font-size: 1.2em;
    word-spacing: 0.4em;
}

.navbar .social [class^="st-icon-"]:before {
    color: #3DB8FF;
}

@media screen and (max-width: 767px){
    .navbar .navbar-brand {
        padding: 1.1em 0 1.1em 0.9em;
        float: left;
    }
    .navbar .navbar-brand img {
        width: 53px;
    }
    .navbar .navbar-brand span {
        margin: -1px 0 0 68px;
    }

    .navbar .download {
        position: absolute;
        left: -9999px;
    }
    .navbar .social {
        position: absolute;
        top: 2.5em;
        right: 13px;
        font-size: 1.5em;
        word-spacing: .2em;
        padding: 0;
    }
}

/*------------------------------------------------------------------------------
    :: Sections
------------------------------------------------------------------------------*/

section {
    padding: 6.5em 0;
    position: relative;
}

section h1,
section h2 {
    font-size: 5.8em;
    line-height: 1.035em;
    font-weight: 700;
    color: #000;
    border-bottom: 7px solid #000;
    margin: 0 0 1em;
    padding: 0 0 0.275em;
}
section h1 span,
section h2 span {
    font-size: .362em;
    line-height: 1em;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.named_anchor {
    position: absolute;
    top: 0;
    text-indent: -9999px;
}

@media screen and (max-width: 767px){
    section {
        padding: 4.8em 0;
    }
}

/*------------------------------------------------------------------------------
    :: Intro
------------------------------------------------------------------------------*/

.intro {
    background: #3DB8FF;
    color: #fff;
}

.intro h1 {
    margin: 0 0 0.45em;
    color: #fff;
    border-bottom-color: #fff;
}
.intro h1 span {
    color: #000;
}

.intro a {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
.intro a:hover,
.intro a:focus {
    color: #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}


.quick_links {
    margin-top: 1.2em;
}

.quick_links h3 {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    border-bottom: 1px solid #000;
    padding: 0 0 0.8em;
    margin-bottom: 0.8em;
}

.quick_links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.quick_links li {
    margin-bottom: 0.5em;
}
.quick_links a {
    color: #FFF;
    font-size: 1.6em;
    line-height: 1em;
    border-bottom: 1px solid transparent;
}
.quick_links a:hover,
.quick_links a:focus {
    text-decoration: none;
    border-bottom: 1px solid #FFF;
}

@media screen and (max-width: 767px){
    .quick_links {
        position: absolute;
        left: -9999px;
    }
}



/*------------------------------------------------------------------------------
    :: Overview
------------------------------------------------------------------------------*/

.overview {
    background: #E6E6E6;
    border-top: 1px solid #C7C7C7;
    border-bottom: 1px solid #C7C7C7;
}

.slides .slide {
    padding: 1px;
    background: #FFF;
    height: 62em;
    padding: 4.1em 4.6em 4.6em;
}
.slide_wrap {
    position: relative;
}

.slides {
    padding: 0;
    margin: 0;
    list-style: none;
}

.slide_count {
    position: relative;
    top: 8px;
    left: -6px;
    color: #606060;
}
.slide_count.mobile_top {
    display: none;
}

@media screen and (max-width: 767px){
    .overview {
        padding-bottom: 7em;
        padding-top: 7em;
        position: relative;
    }
    .slide_count {
        left: 50%;
        margin-left: -20px;
        top: 20px;
        font-size: 1.2em;
        width: 40px;
        text-align: center;
    }
    .slide_count.mobile_top {
        display: block;
        position: absolute;
        top: -30px;
    }
    .slides .slide {
        padding: 1.2em 2em 2em;
        height: auto;
    }
}

/*--------------- Bxslider ---------------*/
.bx-wrapper .bx-viewport {
    border: 0;
    box-shadow: 0 0 0;
    border: 1px solid #C7C7C7;
}

/*--------------- .slide_nav ---------------*/
.slide_nav a {
    background: #3DB8FF;
    color: #fff;
    border-radius: 10em;
    font-size: 2em;
    display: block;
    height: 2em;
    width: 2em;
    text-align: center;
    line-height: 1em;
    padding-top: 0.3em;
}
.slide_nav a span {
    font-size: 1.2em;
    line-height: 1em;
}

.disable_left .slide_nav .prev a,
.disable_left .slide_nav .prev a:hover,
.disable_left .slide_nav .prev a:focus,
.disable_right .slide_nav .next a,
.disable_right .slide_nav .next a:hover,
.disable_right .slide_nav .next a:focus {
    background: #D9D9D9;
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

.slide_nav .prev,
.slide_nav .next {
    position: absolute;
    top: 48%;
}
.slide_nav .prev {
    left: -6em;
}
.slide_nav .next {
    right: -6em;
}

.slide_nav.mobile_top {
    display: none;
}

@media screen and (max-width: 767px){
    .slide_nav .prev,
    .slide_nav .next {
        top: auto;
        bottom: -30px;
    }
    .slide_nav .prev {
        left: 50%;
        right: auto;
        margin-left: -72px; /* 32px + 40px */
    }
    .slide_nav .next {
        left: 50%;
        right: auto;
        margin-left: 40px;
    }
    .slide_nav a {
        text-indent: 0;
    }
    .slide_nav.mobile_top {
        display: block;
        top: -38px;
        position: absolute;
        width: 100%;
    }
}

/*------------------------------------------------------------------------------
    :: Slides
------------------------------------------------------------------------------*/

.slide {
    position: absolute;
    opacity: 0;
    z-index: 0;
}
.slide.start {
    position: static;
    opacity: 1;
    z-index: 10;
}
.bx-wrapper .slide {
    opacity: 1;
    z-index: 50;
}

.slide h3 {
    font-size: 2.8em;
    font-weight: 300;
    line-height: 1.3em;
}
.slide .text {
    margin: 6em 0 0;
}

.slide .footnote {
    font-size: 1.2em;
    margin-top: 1em;
    color: #5b5b5b;
}

.slide .text a,
.slide .footnote a {
    color: #3DB8FF;
    font-weight: 700;
    border-bottom: 1px solid #3DB8FF;
}
.slide .text a:hover,
.slide .text a:focus,
.slide .footnote a:hover,
.slide .footnote a:focus {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}


.slide_social {
    position: absolute;
    top: 1em;
    right: 1.2em;
    font-size: 1.2em;
    word-spacing: 0.3em;
    width: 5.4em;
}

.slide_social [class^="st-icon-"]:before {
    color: #CCC;
}
.slide_social [class^="st-icon-"]:hover:before,
.slide_social [class^="st-icon-"]:focus:before {
    color: #3DB8FF;
}

.mobile_block { display: static;}

@media screen and (max-width: 767px){
    .slide h3 {
        width: 80%;
    }
    .mobile_block { display: block;}
    .slide .text {
        margin-top: 2.5em;
    }
}

/*--------------- .start ---------------*/

.slide.start h3 {
    font-size: 5.8em;
    font-weight: 700;
    line-height: 1em;
    padding: 0.375em 0 1.775em;
}
.slide.start h3 span {
    font-size: 0.31em;
    display: block;
    letter-spacing: 1px;
    margin: 0;
    padding: 0 0 0.4em;
    line-height: 1em;
    text-transform: uppercase;
}
.slide.start p {
    font-size: 2.8em;
    line-height: 1.5em;
    font-weight: 300;
}
.slide.start .continue {
    color: #3DB8FF;
    font-size: 2.1em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2em 0 0 17.4em;
    display: block;
}
.slide.start .continue:hover,
.slide.start .continue:focus {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 767px){
    .slide.start h3 {
        padding-bottom: 1em;
    }
    .slide.start p {
        font-size: 2.4em;
    }
    .slide.start .continue {
        margin: 3.2em 0 0;
    }
}

/*--------------- .measured ---------------*/

.slide.measured img {
    margin-top: 9em;
}
@media screen and (max-width: 767px){
    .slide.measured img {
        margin-top: 2em;
    }
}

/*--------------- .common ---------------*/

.number_box {
    margin-top: 5.9em;
}
.number_box h3 {
    margin: 0;
    padding: 0.7em 0.8em 0em;
    font-size: 2.1em;
}
.number_box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.number_box ul li {
    margin-bottom: 1.4em;
}
.number_box .number_text {
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.3em;
    padding-bottom: 0.5em;
}
.number_box .number {
    font-weight: 700;
    font-size: 6em;
    line-height: 1em;
    color: #3DB8FF;
}
.number_box .number span {
    font-size: 0.5em;
}
@media screen and (max-width: 767px){
    .number_box {
        margin-top: 2em;
    }
}

/*--------------- .geography ------------*/

.geography img {
    height: auto;
    margin-top: 4em;
    border: 1px solid #bbb;
}
@media screen and (max-width: 767px){
    .geography img {
        margin-top: 2em;
    }
}

/*--------------- .races ---------------*/

.slide.races img {
    margin-top: 3em;
}
@media screen and (max-width: 767px){
    .slide.races img {
        margin-top: 2em;
    }
}

/*--------------- .end.start ---------------*/

.slide.end .continue {
    position: relative;
    margin: 4em auto 0;
    width: 12em;
    text-align: center;
}
.slide.end .continue span {
    position: absolute;
    font-size: 3em;
    left: 50%;
    margin-left: -0.5em;
    top: 0.6em;
}


/*------------------------------------------------------------------------------
    :: Map
------------------------------------------------------------------------------*/

#map path {
    -webkit-transition: fill 200ms;
    transition: fill 200ms;
}

.map_title {
    background: #1A1A1A;
    position: relative;
}

.map_title .title {
    font-size: 2.4em;
    color: white;
    font-weight: 400;
    margin: 1em 0 0;
    padding: 0.5em 0 0.6em 1em;
}

.map_title .social {
    position: absolute;
    top: 0.5em;
    right: 1.1em;
    font-size: 1.3em;
}

.map_title .social [class^="st-icon-"]:before {
    color: #CCCCCC;
}

#map {
    width:75%;
    height: 600px;
    float: left;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
.map-legend ul {
    list-style: none;
    padding: 0;
}
.map-legend .swatch {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
}
.leaflet-popup-close-button {
    display: none;
}
.leaflet-popup-content-wrapper {
    pointer-events: none;
}

/*--------------- Map Controls ---------------*/

#map_form {
    width: 25%;
    margin-left: 75%;
    border: 1px solid #999999;
    border-top: 0;
    height: 600px;
    position: relative;
}

#map_form h3,
#map_form form,
#map_form #selected,
#map_form p,
#map_form .download {
    margin-left: 20px;
    margin-right: 20px;
}

#map_form h3 {
    font-weight: 400;
    font-size: 1.4em;
    text-transform: uppercase;
    padding: 2em 0 0.71em;
    margin-top: 0;
    margin-bottom: 0;
}


#map_form form select,
#map_form form input[type="text"] {
    margin-bottom: 1em;
}

#map_form #selected_wrap p {
    font-size: 1.3em;
}
#map_form .has_selected p {
    display: none;
}
#map_form #selected a {
    display: block;
    float: left;
}
#map_form #selected .label {
    font-size: 1.1em;
    background: #999999;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    line-height: 2.2em;
    margin: 0 0.2em 0 0;
}
#map_form #selected a:hover,
#map_form #selected a:focus {
    text-decoration: none;
}
#map_form #selected a:hover .label,
#map_form #selected a:focus .label {
    background: #7C7C7C;
}
#map_form .download {
    position: absolute;
    bottom: 1.75em;
    display: block;
}

@media screen and (max-width: 879px){
    #map_form .download .mobilehide {
        display: none;
    }
}
@media screen and (max-width: 767px){
    .map_wrap {
        position: relative;
    }
    #map {
        width: 100%;
        float: none;
        border-right: 1px solid #999999;
        margin-top: 48px;
    }
    .map-legends {
        font-size: 0.9em;
    }
    #map_form {
        width: 100%;
        margin: 0;
        height: 48px;
        position: absolute;
        top: 48px;
        background-color: #ddd;
    }
    #map_form h3,
    #map_form .selected_wrap,
    #map_form .download {
        display: none;
    }
    #map_form form {
        margin: 0 8px;
    }
    #map_form select {
        float: left;
        width: 46%;
        margin: 0.5em 0.5em 0.5em 0;
    }
}


/*------------------------------------------------------------------------------
    :: Histogram
------------------------------------------------------------------------------*/

.histogram {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.histogram.over_slides {
    opacity: 1;
    z-index: 100;
}

.histogram {
    position: absolute;
    top: 32em;
    left: 4.6em;
    z-index: 0;
}

.histogram .bar rect {
  /*fill: #009245;*/
  shape-rendering: crispEdges;
}

.histogram .bar rect.above_target {
  /*fill: #ED1C24;*/
  shape-rendering: crispEdges;
}

.histogram .bar text {
  fill: #666;
}

.histogram .axis path,
.histogram .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histogram .target {
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.histogram .target.show {
    opacity: 1;
}
.histogram .target text {
    font-size: 13px;
    fill: #555555;
}

.histogram .label {
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width: 767px){
    .histogram {
        opacity: 0;
        position: absolute;
        left: -9999px;
    }
}

/*------------------------------------------------------------------------------
    :: Resources
------------------------------------------------------------------------------*/

.resources {
    background: #4D4D4D;
    color: #F0F0F0;
}

.resources h2 {
    color: #fff;
    border-bottom-color: #3DB8FF;
}

.resources h3 {
    font-size: 2.4em;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 1em;
}

.resources .strong {
    color: #FFF;
    font-weight: 700;
}

.resources p {
    margin-bottom: 1.5em;
}

.resources a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px solid #3DB8FF;
}

.resources a:hover,
.resources a:focus {
    color: #3DB8FF;
    border-bottom: 1px solid transparent;
}

.resources hr {
    border-top: 1px solid #888;
    margin: 1em 0;
    padding: 1em 0;
}

.resources .data_sources_note {
    font-size: 0.8em;
}

@media screen and (max-width: 767px){
    .resources h3 {
        border-bottom: 1px solid #404040;
        padding-bottom: 0.4em;
        padding-top: 1.25em;
    }
    .resources .col-sm-4:first-child h3 {
        padding-top: 0;
    }
}

/*------------------------------------------------------------------------------
    :: Footer
------------------------------------------------------------------------------*/

footer {
    background: #000;
    padding: 1.8em 0;
    border-top: 3px solid #555555;
}
footer .copyright {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    color: #999;
    text-transform: uppercase;
    padding-bottom: 1em;
}

footer .text {
    color: #bbb;
    font-size: 1.3em;
    line-height: 1.4em;
}

@media screen and (max-width: 767px){
    footer {
        text-align: center;
    }
}

